<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>主页</title>
	<meta name="description" content="Home page">
	<meta name="keywords" content="annotation">

	<!-- Bootstrap & Plugins CSS -->
	<link href="../static/page_static/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/page_static/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/page_static/static/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="../static/page_static/static/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" type="image/x-icon" href="../static/public/favicon.ico">

	<!-- Custom CSS -->
	<link href="../static/page_static/static/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
	<!-- ***** Header Area Start ***** -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="" class="logo">
							<img src="../static/page_static/static/picture/logo-white.svg" alt="Logo">
						</a>
						<!-- ***** Logo End ***** -->


						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li class="submenu">
								<a href="javascript:;">主页</a>
								<ul>
									<li><a onclick = "window.location.href='/home'">主页</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:;">上传资源</a>
								<ul>
									<li><a onclick = "window.location.href='/pub_pic'">上传图片</a></li>
									<li><a onclick = "window.location.href='/pub_video'">上传视频</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:;">任务</a>
								<ul>
									<li><a  onclick = "window.location.href='/show_missions'">查看任务</a></li>
									<li><a  onclick = "window.location.href='/pub_mission'">选择资源发布任务</a></li>
								</ul>
							</li>
						</ul>
						<a class="menu-trigger">
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->

						<!-- ***** Header Buttons Start ***** -->
						{%if request.user.is_authenticated%}
						<ul class="header-buttons"><li><a class="btn-nav-line" >{{request.user.username}}</a></li>
						<li><a class="btn-nav-line" onclick="window.location.href='../log_out'">logout</a></li></ul>
						{%else%}
						<ul class="header-buttons">
							<li><a class="btn-nav-line" onclick="window.location.href='../sign_in'">Sign In</a></li>
							<li><a class="btn-nav-primary" onclick="window.location.href='../reg'">Sign Up</a></li>
						</ul>
						{%endif%}
						<!-- ***** Header Buttons End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->
	

	<!-- ***** Welcome Area Start ***** -->
	<div class="welcome-area-one" id="welcome">
		<div class="bg">
			<img src="../static/page_static/static/picture/welcome-bg-one.svg" alt="" class="img-fluid">
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="offset-lg-3 offset-md-2 col-lg-6 col-md-8 text-center">
						<div class="text">
							<h1>数据采集与标注解决方案</h1>
							<p>通过提供自由的图像标注任务发布与认领方式，为客户交付标准化、结构化的可用数据，帮助客户训练算法模型、开展机器学习，提高AI领域的竞争力。</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-2 col-lg-8">
						<div class="player">
							<img src="../static/page_static/static/image/12.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Welcome Area End ***** -->


	<!-- ***** Features Small Start ***** -->
	<section class="section" id="features">
		<div class="container">
			<!-- ***** Section Title Start ***** -->
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">趋势分析</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						
					</div>
				</div>
			</div>
			<!-- ***** Section Title End ***** -->

			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.4s after 0.2s">
					<div class="feature-item-one">
						<div class="title">
							<div class="icon">
								<i class="fa fa-code-fork"></i>
							</div>
							<h5 class="features-title">数据决定了 AI 的落地程度</h5>
						</div>
						<div class="text">
							<p>目前人工智能商业化在算力、算法和技术方面，基本达到阶段性成熟。通过算法和应用的落地来真正解决行业具体痛点，需要采集大量人工智能相关的原始数据，并经过标注处理后做算法训练支撑，可以说数据决定了AI的落地程度。</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
					<div class="feature-item-one">
						<div class="title">
							<div class="icon">
								<i class="fa fa-code"></i>
							</div>
							<h5 class="features-title">新兴应用场景对AI数据需求日益旺盛</h5>
						</div>
						<div class="text">
							<p>AI行业高速发展，智能驾驶、智能终端等领域不断发展，应用落地不断加速。以计算机视觉为例，一个新场景的开发支持需要上万张甚至数十万张不等的经过采集和标注的图片。随着AI应用场景的丰富，对AI数据服务将产生长期海量的需求。</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.8s after 0.2s">
					<div class="feature-item-one">
						<div class="title">
							<div class="icon">
								<i class="fa fa-columns"></i>
							</div>
							<h5 class="features-title">AI数据服务更加注重专业和质量</h5>
						</div>
						<div class="text">
							<p>随着AI行业商业化发展，落地场景对AI数据的需求更加多样化和定制化，也对AI数据服务的专业性和质量提出了更高的要求，作坊式中小数据服务商将逐渐被市场淘汰，技术、规模、专业度领先的品牌数据服务商将越来越受到青睐。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features Small End ***** -->


	<!-- ***** Features Small Start ***** -->
	<section class="section colored" id="about-project">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mobile-bottom-fix align-self-center">
					<div class="row">
						<div class="col-5" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
							<div class="home-about-image">
								<div class="home-img img-1">
									<img src="../static/page_static/static/picture/12.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-7" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
							<div class="home-about-image">
								<div class="home-img img-2">
									<img src="../static/page_static/static/picture/2.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-7" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
							<div class="home-about-image">
								<div class="img-3">
									<div class="text">
										<strong>我们的目标</strong>
										<p>通过更自由的任务发布方式为用户提供可靠的训练数据</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-5" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
							<div class="home-about-image">
								<div class="home-img img-4">
									<img src="../static/page_static/static/picture/31.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-5 align-self-center">
					<div class="left-heading">
						<h2 class="section-title">怎样的自由？</h2>
					</div>
					<div class="left-text">
						<p>允许上传多种资源用于发布任务</p>
						<ul>
							<li>可以同时上传多张图片，并提供阿里云oss对象存储保证数据可用</li>
							<li>可以上传视频，并自动抽取视频关键帧供用户进行图像标注</li>
						</ul>
						<p>提供数据标注结果导出为各种格式</p>
						<ul>
							<li>json格式</li>
							<li>xml格式</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features Small End ***** -->


	<!-- ***** Banner Small Start ***** -->
	<section class="section stripe">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="banner">
						<img src="../static/page_static/static/picture/13.jpg" alt="">
						<div class="content">
							<div class="text">
								<div class="row">
									<div class="col-lg-6 align-self-center">
										
									</div>
									<div class="col-lg-6 text-center align-self-center">
										<a href="#" class="secondary-btn">Contact Us</a>
										<a href="#" class="line-btn">Free Trial</a>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Banner Small End ***** -->	


	<!-- ***** Screen Start ***** -->
	<section class="section bg-blue screen-section">
		<div class="container">
			<!-- ***** Section Title Start ***** -->
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">立刻开始图像标注之旅</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						
					</div>
				</div>
			</div>
			<!-- ***** Section Title End ***** -->

			<div class="row">
				<div class="offset-lg-2 col-lg-8" data-scroll-reveal="enter bottom move 50px over 0.4s after 0.2s">
					<div class="screen">
						<img src="../static/page_static/static/picture/mark.png" alt="" class="img-fluid">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Screen End ***** -->


	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-sm-12">
						<font color = "white">copyright@wxl-3190104726</font>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../static/page_static/static/picture/logo-white.svg" class="logo" alt="">
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer End ***** -->

	

	<!-- jQuery -->
	<script src="../static/page_static/static/js/jquery-2.1.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="../static/page_static/static/js/popper.js"></script>
	<script src="../static/page_static/static/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="../static/page_static/static/js/scrollreveal.min.js"></script>
	<script src="../static/page_static/static/js/parallax.min.js"></script>
	<script src="../static/page_static/static/js/imgfix.min.js"></script>
	<script src="../static/page_static/static/js/owl.carousel.min.js"></script>

</body>
</html>