<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>注册</title>
	<meta name="description" content="Lavinya - Software HTML template by tempload.">
	<meta name="keywords" content="lavinya, startup, saas, agency, development, html, template, tempload">
	<!-- Bootstrap & Plugins CSS -->
	<link href="../static/page_static/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/page_static/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../static/page_static/static/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="../static/page_static/static/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" type="image/x-icon" href="../static/public/favicon.ico">

	<!-- Custom CSS -->
	<link href="../static/page_static/static/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
	<!-- ***** Header Area Start ***** -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="" class="logo">
							<img src="../static/page_static/static/picture/logo-white.svg" alt="Lavinya">
						</a>
						<!-- ***** Logo End ***** -->


						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li class="submenu">
								<a href="javascript:;">主页</a>
								<ul>
									<li><a onclick = "window.location.href='/home'">主页</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:;">上传资源</a>
								<ul>
									<li><a onclick = "window.location.href='/pub_pic'">上传图片</a></li>
									<li><a onclick = "window.location.href='/pub_video'">上传视频</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:;">任务</a>
								<ul>
									<li><a  onclick = "window.location.href='/show_missions'">查看任务</a></li>
									<li><a  onclick = "window.location.href='/pub_mission'">选择资源发布任务</a></li>
								</ul>
							</li>
						</ul>
						<a class="menu-trigger">
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->
	

	<!-- ***** Welcome Area Start ***** -->
	<div class="welcome-area-one" id="welcome">
		<div class="bg">
			<img src="../static/page_static/static/picture/welcome-bg-one.svg" alt="" class="img-fluid">
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="offset-lg-3 offset-md-2 col-lg-6 col-md-8 text-center">
						<div class="text">
							<h1>Sign up for start</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-2 col-lg-8">
						<div class="player">
							
                            <form action="/register" method="post" >
                                {%csrf_token%}
                                <div class="offset-lg-1 col-lg-8"><div><p style="color:white">用户名</p><input type="text" name="username" id = "username"></div></div>
                                <br>
                                <div class="offset-lg-1 col-lg-8"><div><p style="color:white">密码</p><input type="password"  name="password" id = "password"></div></div>
                                <br>
                                <div class="offset-lg-1 col-lg-8"><div><p style="color:white">确认密码</p><input type="password"  name="password_confirm" id = "password_confirm"></div></div>
                                <br>
                                <div class="offset-lg-1 col-lg-8"><div><p style="color:white">邮箱</p><input type="email"  name="email" id = "email" ></div></div>
        						<input type="hidden" name="username"value="" id = "ifvalid"/>
                                
                                
                                <br>
                                <div class="offset-lg-4 col-lg-8"><input type="submit" style="background:rgb(45,164,78)"value = "注册" id = "reg_submit"/></div>
                            </form>
							<script type="text/javascript">
								document.getElementById("reg_submit").addEventListener('click', function() {
											var user = document.getElementById("username").value;
											var pwd= document.getElementById("password").value;
											var pwd2 = document.getElementById("password_confirm").value;

								//判断用户名是否为空			
											if(user.trim() == "" || pwd.trim() == ""){
												alert("用户或密码不能为空");
												document.getElementById("ifvalid").value = "no";
								//判断用户名长度				
											}else if(user.length < 6 ){
												alert("用户名长度应大于6位");
												document.getElementById("ifvalid").value = "no";
								//判断密码长度				
											}else if(pwd.length < 6){
												alert("密码长度应大于6位");
												document.getElementById("ifvalid").value = "no";	
											}	
											else if(pwd2.trim() == ""){
												alert("请注意输入确认密码");
												document.getElementById("ifvalid").value = "no";	
											}
											else if(pwd !== pwd2){
												alert("请注意两次输入密码是否一致");
												document.getElementById("ifvalid").value = "no";
											}
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Welcome Area End ***** -->


	
	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<font color = "white">copyright@wxl-3190104726</font>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../static/page_static/static/picture/logo-white.svg" class="logo" alt="">
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer End ***** -->

	

</body>
</html>